<body> 
<style>

  .content {
    display: flex;
    background-color:yellow;
    margin: 100px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }


  .card {
    border-radius: 10px;
    border: 1px solid blue;
    background-color: blue;
    height: 100px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }



  .card.card-small {
    height: 5px;
    width: 168px;
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }



</style>

<style>
  body,div,html,header {
    background-color: burlywood;
  }
  </style>

<div style="color:white; background-color: purple; padding: 10px; ">	
  <img src="../assets/images/users.png" alt="logo" width="50" height="50" >							
    <h2 style="text-align:center; margin-top: 20px; ">User Management Angular App ...! </h2>								
  </div>

<router-outlet></router-outlet>
