<h1 class="text-center "class='font-weight-bold'>Initiate IMPS Payment</h1>
	
<form>
<div class="row mb-3">
<label for="inputEmail3" class="col-sm-2 col-form-label">From Account</label>
<div class="col-sm-5">
  <input type="email" class="form-control" id="inputEmail3">
</div>
</div>
<div class="row mb-3">
<label for="inputPassword3" class="col-sm-2 col-form-label">To Account</label>
<div class="col-sm-5">
  <input type="password" class="form-control" id="inputPassword3">
</div>

</div>


<div class="row mb-3">
<label for="inputEmail3" class="col-sm-2 col-form-label">Amount</label>
<div class="col-sm-5">
  <input type="email" class="form-control" id="inputEmail3">
</div>
</div>
<div class="row mb-3">
<label for="inputEmail3" class="col-sm-2 col-form-label">Transaction Date</label>
<div class="col-sm-5">
  <input type="email" class="form-control" id="inputEmail3">
</div>
</div>
<div class="row mb-3">
<label for="inputPassword3" class="col-sm-2 col-form-label">Maturity Instructions</label>
<div class="col-sm-5">
  <input type="password" class="form-control" id="inputPassword3">
</div>

</div>


<div class="row mb-3">
<label for="inputEmail3" class="col-sm-2 col-form-label">Remark</label>
<div class="col-sm-5">
  <input type="email" class="form-control" id="inputEmail3">
</div>
</div>

<button type="submit" class="btn btn-primary"  style="text-align:center">Save </button>

<button type="submit" class="btn btn-primary"  style="text-align:center">Reset</button>

<button type="submit" class="btn btn-primary"  style="text-align:center">Save As Template</button>

<button type="submit" class="btn btn-primary"  style="text-align:center">Continue</button>

</form>