<html>

    <div class="container bg-light login_btn">
        <div class="col-md-14 text-center">

            <input type="button" [routerLink]="['/login']" value="Login" id ="login"class="btn  float-right text-center login_btn ">
        </div>
        <div>
            <input type="button" [routerLink]="['/register']"  value="New User? Register" id ="register"class="btn  float-right text-center login_btn ">
        </div>
        <div>
            <input type="button"  value="Apply Online for Account" [routerLink]="['/onlineaccount']" id ="onlineApply"class="btn  float-right text-center login_btn ">
        </div>
    </div>
    </html>



